html, body {
  color: $darkest;
  background-color: $lightest;

  & *:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}

button {
  background-color: transparent;
}

a, abbr, abbr[title] {
  text-decoration: none;
}
