/* roboto-regular - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-regular.woff2') format('woff2');
  font-display: swap;
}

/* roboto-500 - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-500.woff2') format('woff2');
  font-display: swap;
}

/* roboto-700 - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/roboto-700.woff2') format('woff2');
  font-display: swap;
}
