/* roboto-regular - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-regular.woff2') format('woff2');

  // font-display: swap;
}

/* roboto-500 - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-500.woff2') format('woff2');

  // font-display: swap;
}

/* roboto-700 - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/roboto-700.woff2') format('woff2');

  // font-display: swap;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/icons/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2') format('woff2'),
       url('/assets/fonts/icons/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  src: url('/assets/fonts/icons/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2') format('woff2'),
       url('/assets/fonts/icons/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  src: url('/assets/fonts/icons/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2') format('woff2'),
       url('/assets/fonts/icons/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].ttf') format('truetype');
  font-display: block;
}
